div {
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  margin: 0px;
  background-image: url("../images/airplane_wide.jpg");
  background-size: cover;
  color: black;
  width: fit-content;
  font-family: Arial, sans-serif;
}

#wrapper {
  height: 100%;
  padding: 16px;
  display: grid;
  overflow: hidden;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 60% 20% 20%;
  grid-template-areas:
    "hdr hdr nav"
    ". . ."
    "fo fo fo";
}

.nav-button {
  padding: 8px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-wrap: nowrap;
}

.nav-circle-button {
  background-color: black;
  border: none;
  border-radius: 480px;
  color: white;
  width: 48px;
  height: 48px;
  transition: all 0.3s;
}

.nav-circle-button:hover {
  background-color: #2a2a2a;
  cursor: pointer;
}

.footer-button {
  padding: 16px;
  border-radius: 32px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  transition: all 0.3s;
}

.footer-button:hover {
  background-color: #2a2a2a;
  cursor: pointer;
}

header {
  grid-area: hdr;
  font-size: 20vw;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  gap: 32px;
}

#slogan {
  font-size: 5vw;
  margin: 0px;
}

.buttons-flex {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

footer {
  grid-area: fo;
  display: flex;
  place-items: center;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800px) {
  body {
    background-image: url("../images/airplane_narrow.jpg");
  }
}

@media screen and (max-width: 1000px) {
  body {
    height: auto;
    overflow: auto;
  }

  #wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 8px;
  }

  header {
    height: 75vh;
  }

  #nav-top {
    display: none;
  }

  #slogan {
    text-wrap: nowrap;
  }

  footer {
    display: flex;
    flex-direction: column;
    place-items: start;
  }
}
